<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>年龄</th>
                <th>分数</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < students.length; i++){ 
                var item = students[i]    
            %>
            <%- include('item.ejs',{item}) %>
            <% } %>
        </tbody>
    </table>
    
</body>
</html>