<div class="student-item">
    <div class="item">
        <%= item.name%>
    </div>
    <div class="item">
        <%= item.age%>
    </div>
    <div class="item">
        <%= item.score%>
    </div>
</div>